<!DOCTYPE html>
<html>
    <head>
        <title> {% block title %} {% endblock %} -- #SaveTheInternet Trending Campaign </title>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

        <!-- jQuery  -->
        <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">

        <!--  Latest compiled and minified JavaScript 
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script> -->

    </head>
    <body>
        <nav class='navbar navbar-default'>
            <div class='container-fluid'>
                <div class='navbar-header'>
                    <ul class='nav nav-pills'>
                        <li role='presentation'> <a class='text-primary' href='{{ url_for('popular_tweets') }}'>Popular Tweets</a> </li>
                        <li role='presentation'> <a class='text-primary' href='{{ url_for('recent_tweets') }}'>Recent Tweets</a> </li>
                        <li role='presentation'> <a class='text-success' href='http://savetheinternet.in' target='_blank'>Email TRAI</a></li>
                        <li role='presentation'> <a class='text-info' href='http://netneutrality.in' target='_blank'>Info about NetNeutrality</a></li>
                        <li role='presentation'> <a class='text-warning' href='https://github.com/knightsamar/yalgaar/issues' target='_blank'>Report an issue</a> </li>
                    </ul>
                </div>
            </div>
        </nav>

        {% block tweets_block %}
            <!-- here come the tweets -->
        {% endblock tweets_block %}

        {# <h2> {{ message|make_internal_link }} </h2> #}

    </body>
</html>
