<!DOCTYPE html>
<html>
    <head>
        <title> {% block title %} {% endblock %} -- #SaveTheInternet Trending Campaign </title>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

        <!-- jQuery  -->
        <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">

        <!--  Latest compiled and minified JavaScript 
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script> -->

    </head>
    <body>
        <a href='{{ url_for('popular_tweets') }}'>Popular</a>
        <a href='{{ url_for('recent_tweets') }}'>Recent</a>
        {% block tweets_block %}
            <!-- here come the tweets -->
        {% endblock tweets_block %}

        {# <h2> {{ message|make_internal_link }} </h2> #}
    </body>
</html>
