{% extends "base.html" %}

{% block title %} {{ type_of_tweets|capitalize }} Tweets {% endblock title %}
{% block tweets_block %}
{{ super () }}
    <div class='container-fluid'>
        <div class='row-fluid'>
            <h4> New tweets will be collected every 10 minutes </h4>
            {% if not tweets %}
            <h3> No tweets yet! Please be THE ONE to initiate the trend! :)</h3></td>
            {% else %}
            <table id='tweets' class='table-striped table-condensed' width='100%'>
                <thead>
                   <tr>
                       <td> Awesome Tweet! </td>
                       <td> By user/on</td>
                       <td> Share </td>
                    </tr>
                </thead>
                <tbody>
                {% for tweet,user,tweet_id,tweeted_on in tweets %}
                <tr>

                    <td><p class='lead'>{{ tweet|string|make_internal_link|safe }}</p> </td>
                    <td> <a href="https://twitter.com/{{ user|urlencode }}" target='_blank'>{{user}}</a><br/>{{ tweeted_on }}</td>
                    <td>
                        <a class="btn btn-sm btn-info" href="https://twitter.com/intent/tweet?text=RT %40{{ user|urlencode ~ ' ' ~ tweet|urlencode }}" target="_blank">Tweet this</a>
                        <a class='btn btn-sm btn-primary' href="https://www.facebook.com/dialog/feed?app_id=414593255378966&display=popup&caption=%23SaveTheInternet&link=https://twitter.com/{{user}}/status/{{tweet_id}}&redirect_uri=http://yalgaar.github.io&description={{ tweet|urlencode }}&caption=#SaveTheInternet&actions=%7B%22name%22%3A%22Save%20The%20Internet%22%2C%22link%22%3A%22http%3A%2F%2Fsavetheinternet.in%22%7D">Facebook</a>
                        <a href="whatsapp://send?text={{ tweet|urlencode }}" target="_blank" class="btn-sm btn-success btn">WhatsApp<br><small>Mobile only</small></a>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
          {% endif %}
      </div>
    </div>
{% endblock %}
