{% extends "base.html" %}

{% block title %} {{ type_of_tweets|capitalize }} Tweets {% endblock title %}
{% block tweets_block %}
{{ super () }}
<!-- for the fb share buttons -->
    <div id="fb-root"></div>
        <script>(function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.3";
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
    <div class='container-fluid'>
        <div class='row-fluid'>
            <h4> New tweets will be collected every 10 minutes </h4>
            {% if not tweets %}
            <h3> No tweets yet! Please be THE ONE to initiate the trend! :)</h3></td>
            {% else %}
            <table id='tweets' class='table-striped table-condensed' width='100%'>
                <thead>
                   <tr>
                       <td> Awesome Tweet! </td>
                       <td> By user/on</td>
                       <td> Share </td>
                    </tr>
                </thead>
                <tbody>
                {% for tweet,user,tweet_id,tweeted_on in tweets %}
                <tr>

                    <td><p class='lead'>{{ tweet|string|make_internal_link|safe }}</p> </td>
                    <td> <a href="https://twitter.com/{{ user|urlencode }}">{{user}}</a><br/>{{ tweeted_on }}</td>
                    <td>
                        <a class="btn btn-sm btn-info" href="https://twitter.com/intent/tweet?text=RT %40{{ user|urlencode ~ ' ' ~ tweet|urlencode }}" target="_blank">Tweet this</a>
                        <div class="btn fb-share-button" data-href="https://twitter.com/{{user}}/status/{{tweet_id}}" data-layout="button"></div> 
                        <a href="whatsapp://send?text={{ tweet|urlencode }}" target="_blank" class="btn-sm btn-success btn">Share via Whatsapp<br><small>Mobile only</small></a>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
          {% endif %}
      </div>
    </div>
{% endblock %}
